@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dsecon: #2b2d42;
  --lsecon: #8d99ae;
  --prim: #edf2f4;
  --lred: #ef233c;
  --dred: #d90429;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
